.App {
	width: 100vw;
	height: 100vh;
}

.AppHeader {
	height: 40vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #F5FEF5;
}

.progressbarContainer {
	width: 15vmax;
	height: 15vmax;
	transform: translateY(5vh);
}

.AppTitle {
	font-family: 'Fira Mono Bold';
	font-size: 3vmax;
	margin-left: 5vw;
}

.AppProgress {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 90vw;
	padding: 0 2vw;
	background-color: #323238;
	border-radius: 2vmax;
	height: 55vh;
}

.AppProgressTitle {
	color: #F5FEF5;
	font-size: 2vmax;
}

.AppProgressList {
	height: 41vh;
	width: 80vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.AppProgressElement {
	color: #F5FEF5;
	font-size: 1vmax;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0.5vmax 0;
	margin-right: 1vw;
	width: max-content;
	height: max-content;
}

.check {
	border-radius: 0.2vmax;
	height: 1.25vmax;
	width: 1.25vmax;
	display: flex;
	align-items: center;
	justify-content: center;
}

.smallDot {
	border-radius: 50%;
	background-color: black;
	width: 0.416vmax;
	height: 0.416vmax;
}

.AppProgressCheck {
	margin: 0 0.2vmax;
}